/* Media Queries Mixin
**********************/
/* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: 'Noto Serif Georgian', serif;
  font-family: 'Red Hat Text', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; }

.navigation {
  position: fixed;
  z-index: 2; }
  .navigation .header--mobile-menu {
    position: fixed;
    top: 8rem;
    right: 1.4rem;
    width: 7rem;
    height: 7rem;
    background-image: radial-gradient(#000367 20%, #3a62ff);
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.943);
    cursor: pointer;
    z-index: 200; }
    .navigation .header--mobile-menu span:first-child {
      margin-top: 2.3rem; }
    .navigation .header--mobile-menu span {
      display: block;
      margin-top: 1rem;
      margin-left: 1.1rem;
      width: 70%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.943);
      transform-origin: 0px 100%;
      transition: all .3s; }
    @media (min-width: 851px) and (max-width: 1200px) {
      .navigation .header--mobile-menu {
        display: none; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .navigation .header--mobile-menu {
        display: none; } }
  .navigation .background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .8s; }
    @media (min-width: 851px) and (max-width: 1200px) {
      .navigation .background {
        display: none; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .navigation .background {
        display: none; } }
  .navigation .nav {
    display: none; }
    @media (min-width: 851px) and (max-width: 1200px) {
      .navigation .nav {
        display: none; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .navigation .nav {
        display: none; } }

.nav--list {
  position: absolute;
  top: 28%;
  left: 26.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none; }
  @media (min-width: 851px) and (max-width: 1200px) {
    .nav--list {
      position: static;
      display: flex;
      flex-direction: row;
      list-style: none; } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .nav--list {
      position: static;
      display: flex;
      flex-direction: row;
      list-style: none; } }

.nav--item {
  display: flex;
  justify-content: center; }
  .nav--item .emoji {
    width: 14rem;
    height: 8rem; }
    @media (min-width: 576px) and (max-width: 850px) {
      .nav--item .emoji {
        width: 82rem; } }

.nav--link:link,
.nav--link:visited {
  display: inline-block;
  padding: 3rem;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(80deg, transparent 0%, transparent 50%, white 50%);
  background-size: 225%;
  transition: all .4s; }
  @media (min-width: 576px) and (max-width: 850px) {
    .nav--link:link,
    .nav--link:visited {
      font-size: 5rem; } }
  @media (min-width: 851px) and (max-width: 1200px) {
    .nav--link:link,
    .nav--link:visited {
      color: #8ca7ff;
      font-size: 2rem;
      background-image: linear-gradient(80deg, transparent 0%, transparent 50%, white 50%); } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .nav--link:link,
    .nav--link:visited {
      color: #8ca7ff;
      font-size: 2rem;
      background-image: linear-gradient(80deg, transparent 0%, transparent 50%, white 50%); } }

.nav--link:hover,
.nav--link:active {
  color: #005bc9;
  background-position: 100%;
  transform: translateX(1rem); }

.activebars-menu-1 {
  transform: rotate(45deg) translate(1px, -8px); }

.activebars-menu-2 {
  opacity: 0;
  margin-left: -3rem; }

.activebars-menu-3 {
  transform: rotate(-45deg) translate(2px, 9px); }

.scale {
  transform: scale(50); }
  @media (min-width: 576px) and (max-width: 850px) {
    .scale {
      transition: all .4s;
      transform: scale(90); } }

.nav2 {
  display: none; }
  @media (min-width: 851px) and (max-width: 1200px) {
    .nav2 {
      display: flex; } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .nav2 {
      display: flex; } }

.active-navigation-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #2b72ffe9;
  backdrop-filter: blur(20px);
  text-align: center;
  transition: all .2s; }
  @media (min-width: 851px) and (max-width: 1200px) {
    .active-navigation-nav {
      display: none; } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .active-navigation-nav {
      display: none; } }

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.943);
  border-bottom: #222426;
  z-index: 1;
  transition: .3s ease all;
  color: white; }
  .header.light {
    background-color: white;
    color: black; }
  .header .header--brand-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.6rem; }
    .header .header--brand-container p {
      font-size: 2rem;
      transition: all .4s;
      cursor: pointer; }
      .header .header--brand-container p:hover, .header .header--brand-container p:active {
        color: #005bc9;
        background-position: 100%;
        background-image: linear-gradient(80deg, transparent 0%, transparent 50%, white 50%);
        background-size: 225%;
        transform: translateX(1rem); }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .header .header--brand-container p {
          margin-left: 1rem; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .header .header--brand-container {
        padding: 0rem;
        align-items: center;
        justify-content: space-between; } }
  .header--switch {
    margin-left: 5rem; }
    .header--switch .en,
    .header--switch .es {
      color: white; }
    .header--switch .spain,
    .header--switch .english {
      width: 2rem;
      height: 2rem; }
    .header--switch .check {
      position: relative;
      top: -0.5rem;
      width: 5rem; }
      .header--switch .check::before {
        content: "";
        position: absolute;
        width: 5rem;
        height: 1.5rem;
        background-color: #333;
        border-radius: 2.5rem; }
      .header--switch .check::after {
        content: "";
        position: absolute;
        width: 2.5rem;
        height: 1.5rem;
        background-color: white;
        border-radius: 2.5rem;
        transition: 0.25s;
        border: 2px solid #333;
        box-sizing: border-box; }
      .header--switch .check:checked::after {
        left: 2.5rem;
        border: 2px solid #005bc9; }
      .header--switch .check:checked::before {
        background-color: #005bc9; }
  .header--flags {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header--flags .flags--item {
      width: 50%;
      padding: .5rem; }
      .header--flags .flags--item img {
        display: block;
        width: 35px;
        cursor: pointer; }
  .header--dark-mode {
    display: flex;
    position: relative;
    margin-left: 3rem;
    background: #ffb325;
    border-radius: 100rem;
    border: none;
    cursor: pointer;
    outline: none; }
    .header--dark-mode::after {
      content: "";
      display: block;
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 0;
      left: 0;
      right: unset;
      background: white;
      border-radius: 10rem;
      transition: .3s ease all;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
    .header--dark-mode.active {
      background-color: #343D5B;
      color: white; }
      .header--dark-mode.active::after {
        right: 0;
        left: unset; }
    .header--dark-mode span {
      display: block;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      background: none;
      color: white; }

.home {
  display: grid;
  width: 100%;
  height: 100vh; }
  .home .home--titles {
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    transition: .3s ease all; }
    .home .home--titles.light {
      color: black;
      font-weight: bold; }
    .home .home--titles h1 {
      font-size: 3.2rem;
      margin-bottom: 1rem; }
      @media (min-width: 576px) and (max-width: 850px) {
        .home .home--titles h1 {
          font-size: 5rem; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .home .home--titles h1 {
          font-size: 6rem; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .home .home--titles h1 {
          font-size: 6rem; } }
    .home .home--titles h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem; }
      @media (min-width: 576px) and (max-width: 850px) {
        .home .home--titles h2 {
          font-size: 3.5rem; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .home .home--titles h2 {
          font-size: 4rem; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .home .home--titles h2 {
          font-size: 4rem; } }
    .home .home--titles__position {
      font-size: 2rem; }
      @media (min-width: 576px) and (max-width: 850px) {
        .home .home--titles__position {
          font-size: 2.5rem; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .home .home--titles__position {
          font-size: 3rem; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .home .home--titles__position {
          font-size: 3rem; } }
  .home .home--btns {
    display: grid;
    place-content: center; }
    .home .home--btns .btn--download {
      padding: 2rem;
      font-size: 1.2rem;
      border-radius: 11px;
      border: none;
      text-transform: uppercase;
      color: white;
      background-color: rgba(0, 0, 0, 0.789);
      cursor: pointer;
      box-shadow: -8px 10px 32px 4px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -8px 10px 32px 4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -8px 10px 32px 4px rgba(0, 0, 0, 0.75); }
      .home .home--btns .btn--download.light {
        color: black;
        background-color: white; }
      .home .home--btns .btn--download:active, .home .home--btns .btn--download:hover {
        background-color: #3a62ff;
        color: white; }
      @media (min-width: 576px) and (max-width: 850px) {
        .home .home--btns .btn--download {
          font-size: 1.7rem;
          padding: 2.5rem; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .home .home--btns .btn--download {
          font-size: 1.7rem;
          padding: 2.5rem; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .home .home--btns .btn--download {
          font-size: 1.7rem;
          padding: 2.5rem; } }

.position {
  margin-bottom: 1rem;
  color: white; }

.roll {
  font-size: 2rem; }

.action-btns {
  display: flex;
  justify-content: space-between; }

.about-me {
  padding: 2.9rem 1.6rem 1.6rem;
  background-color: rgba(0, 0, 0, 0.943);
  color: white; }
  .about-me.light {
    background-color: white;
    color: black; }
  .about-me--title {
    margin-bottom: 5rem;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .about-me--img {
    position: relative;
    display: flex;
    justify-content: center; }
    .about-me--img .about-me--avatar {
      transform: scale(1.2);
      transition: all .5s; }
      .about-me--img .about-me--avatar:hover {
        transform: scale(0.9);
        filter: blur(3px) brightness(80%); }
    .about-me--img .about-me--caption {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 20%);
      font-size: 1.7rem;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      opacity: 0;
      color: rgba(0, 0, 0, 0.943);
      backface-visibility: hidden;
      transition: all .3s;
      cursor: pointer; }
      .about-me--img .about-me--caption:hover {
        opacity: 1; }
  .about-me--description {
    margin-top: 2rem; }
    .about-me--description p {
      max-width: 75ch;
      font-size: 2rem;
      text-align: center;
      line-height: 1.5; }
    @media (min-width: 851px) and (max-width: 1200px) {
      .about-me--description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .about-me--description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .about-me--tools h3 {
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 576px) and (max-width: 850px) {
      .about-me--tools h3 {
        font-size: 2.5rem; } }
  .about-me--tools .about-me--technologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-top: 4rem; }
    .about-me--tools .about-me--technologies .technologies-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 576px) and (max-width: 850px) {
        .about-me--tools .about-me--technologies .technologies-container img {
          width: 8rem;
          height: 8rem; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .about-me--tools .about-me--technologies .technologies-container img {
          width: 8rem;
          height: 8rem; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .about-me--tools .about-me--technologies .technologies-container img {
          width: 8rem;
          height: 8rem; } }
      .about-me--tools .about-me--technologies .technologies-container .technology-name {
        font-size: 1.5rem;
        padding: .5rem; }
    @media (min-width: 851px) and (max-width: 1200px) {
      .about-me--tools .about-me--technologies {
        display: flex;
        justify-content: center;
        padding: 3rem;
        margin-bottom: 4rem; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .about-me--tools .about-me--technologies {
        display: flex;
        justify-content: center;
        padding: 3rem;
        margin-bottom: 4rem; } }
  @media (min-width: 851px) and (max-width: 1200px) {
    .about-me--tools {
      margin-top: 4rem; } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .about-me--tools {
      margin-top: 4rem; } }

.projects {
  padding: 2.9rem 1.6rem 1.6rem;
  background-color: rgba(0, 0, 0, 0.943);
  color: white; }
  .projects.light {
    background-color: white;
    color: black; }
  .projects h3 {
    margin-bottom: 5rem;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
    @media (min-width: 851px) and (max-width: 1200px) {
      .projects h3 {
        margin-top: 6rem; } }
  .projects--description p {
    max-width: 75ch;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5; }
  @media (min-width: 851px) and (max-width: 1200px) {
    .projects--description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .projects--description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .projects--container {
    display: grid;
    justify-items: center;
    margin-top: 4rem;
    height: 60rem;
    padding: 2rem;
    border-radius: 12px;
    overflow: hidden;
    background-image: radial-gradient(#65aef9bf 20%, #1544ff);
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.13); }
    .projects--container .project--overview {
      width: 45%;
      height: 90%;
      border-radius: 10%; }
      @media (min-width: 576px) and (max-width: 850px) {
        .projects--container .project--overview {
          width: 45%;
          border-radius: 10%; } }
    .projects--container .project--name {
      margin-bottom: 0;
      font-size: 2rem;
      text-transform: uppercase; }
      @media (min-width: 576px) and (max-width: 850px) {
        .projects--container .project--name {
          padding: 3rem;
          font-size: 3rem; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .projects--container .project--name {
          padding: 3rem;
          font-size: 3rem; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .projects--container .project--name {
          padding: 3rem;
          font-size: 3rem; } }
    @media (min-width: 576px) and (max-width: 850px) {
      .projects--container .project--technologies {
        padding: 3rem; } }
    @media (min-width: 851px) and (max-width: 1200px) {
      .projects--container .project--technologies {
        padding: 0rem; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .projects--container .project--technologies {
        padding: 0rem; } }
    .projects--container .project--description {
      max-width: 75ch;
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.5; }
      @media (min-width: 576px) and (max-width: 850px) {
        .projects--container .project--description {
          font-size: 2.2rem;
          line-height: 1.5; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .projects--container .project--description {
          font-size: 2.2rem;
          line-height: 1.5; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .projects--container .project--description {
          font-size: 2.2rem;
          line-height: 1.5; } }
    .projects--container .project--credits {
      max-width: 75ch;
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.5; }
      @media (min-width: 576px) and (max-width: 850px) {
        .projects--container .project--credits {
          margin-top: 2rem;
          font-size: 2rem;
          line-height: 1.5; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .projects--container .project--credits {
          font-size: 2rem;
          line-height: 1.5; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .projects--container .project--credits {
          font-size: 2rem;
          line-height: 1.5; } }
    .projects--container .project--redirection {
      display: flex;
      justify-content: center;
      align-items: center; }
      .projects--container .project--redirection__live {
        display: inline-block;
        margin-left: 3rem;
        margin-right: 2rem;
        padding: 1rem;
        border-radius: 11px;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.804);
        color: white;
        cursor: pointer;
        box-shadow: -2px 6px 14px 5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -2px 6px 14px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 6px 14px 5px rgba(0, 0, 0, 0.75); }
        .projects--container .project--redirection__live.light {
          background-color: white;
          color: black; }
        .projects--container .project--redirection__live:active, .projects--container .project--redirection__live:hover {
          background-color: #3a62ff;
          color: white; }
        @media (min-width: 576px) and (max-width: 850px) {
          .projects--container .project--redirection__live {
            padding: 1.5rem;
            font-size: 1.5rem; } }
        @media (min-width: 851px) and (max-width: 1200px) {
          .projects--container .project--redirection__live {
            padding: 1.5rem;
            font-size: 1.5rem; } }
        @media (min-width: 1200px) and (max-width: 1600px) {
          .projects--container .project--redirection__live {
            padding: 1.5rem;
            font-size: 1.5rem; } }
      .projects--container .project--redirection__code {
        display: inline-block;
        margin-right: 2rem;
        padding: 1rem;
        border-radius: 11px;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.833);
        color: white;
        cursor: pointer;
        box-shadow: -2px 6px 14px 5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -2px 6px 14px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 6px 14px 5px rgba(0, 0, 0, 0.75); }
        .projects--container .project--redirection__code.light {
          background-color: white;
          color: black; }
        .projects--container .project--redirection__code:active, .projects--container .project--redirection__code:hover {
          background-color: #3a62ff;
          color: white; }
        @media (min-width: 576px) and (max-width: 850px) {
          .projects--container .project--redirection__code {
            padding: 1.5rem;
            font-size: 1.5rem; } }
        @media (min-width: 851px) and (max-width: 1200px) {
          .projects--container .project--redirection__code {
            padding: 1.5rem;
            font-size: 1.5rem; } }
        @media (min-width: 1200px) and (max-width: 1600px) {
          .projects--container .project--redirection__code {
            padding: 1.5rem;
            font-size: 1.5rem; } }
      @media (min-width: 576px) and (max-width: 850px) {
        .projects--container .project--redirection {
          padding: 3rem; } }
      @media (min-width: 851px) and (max-width: 1200px) {
        .projects--container .project--redirection {
          padding: 0rem; } }
      @media (min-width: 1200px) and (max-width: 1600px) {
        .projects--container .project--redirection {
          padding: 0rem; } }
    @media (min-width: 576px) and (max-width: 850px) {
      .projects--container {
        margin: 4rem auto;
        width: 60rem;
        height: auto; } }
    @media (min-width: 851px) and (max-width: 1200px) {
      .projects--container {
        width: 50rem;
        height: 80rem;
        margin: 4rem auto; } }
    @media (min-width: 1200px) and (max-width: 1600px) {
      .projects--container {
        width: 50rem;
        height: 80rem;
        margin: 4rem auto; } }

.cta {
  margin: 0 auto;
  padding: 1.6rem 1.6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.943); }
  .cta.light {
    color: black;
    background-color: white; }
  .cta--title {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase; }
  .cta--container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 3rem; }
    .cta--container .cta--media {
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none; }
      .cta--container .cta--media__links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem; }
        .cta--container .cta--media__links .github2 {
          width: 65%;
          background-color: white;
          border-radius: 100%; }
        .cta--container .cta--media__links a {
          text-decoration: none; }
          .cta--container .cta--media__links a .cta--media__redirection {
            margin-left: 1.5rem;
            font-size: 2rem;
            line-height: 1;
            border: none;
            color: white; }
            .cta--container .cta--media__links a .cta--media__redirection.light {
              color: black; }
            .cta--container .cta--media__links a .cta--media__redirection:hover, .cta--container .cta--media__links a .cta--media__redirection:active {
              color: #000081; }
  .cta--credits {
    margin-top: 5rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase; }
