/* COLORS */

$gradient-blue: radial-gradient(#000367 20%, #3a62ff);
$gradient-transparent: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
$gradient-projects: radial-gradient(#65aef9bf 20%, #1544ff);
$dark: #000000;
$blue: #005bc9;
$btn-hover-blue: #3a62ff;
$links-color: #000081;
$white: white;

/* TYPOGRAPHY */

