
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    .home--titles {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 30%;
        left: 30%;
        color: white;
        transition: .3s ease all;
        &.light {
            color: black;
            font-weight: bold;
        }
        h1 {
            font-size: 3.2rem;
            margin-bottom: 1rem;
            @include media(tablet) {
                font-size: 5rem;
            }
            @include media(desktop) {
                font-size: 6rem;
            }
        }
        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            @include media(tablet) {
                font-size: 3.5rem;
            }
            @include media(desktop) {
                font-size: 4rem;
            }
        }
        &__position {
            font-size: 2rem;
            @include media(tablet) {
                font-size: 2.5rem;
            }
            @include media(desktop) {
                font-size: 3rem;
            }
        }
        @include media(tablet) {
            top: 40%;
            left: 38%;
        }
        @include media(desktop) {
            top: 25%;
            left: 40%;
        } 
    }
    .home--btns {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 70%;
        left: 35%;
        .btn--download {
            padding: 1.5rem;
            border-radius: 11px;
            border: none;
            text-transform: uppercase;
            color: white;
            background-color: black;
            cursor: pointer;
            box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
            -webkit-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
            -moz-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
            &.light {
                color: black;
                background-color: white;
            }
            &:active,
            &:hover {
                background-color: $btn-hover-blue;
                color: $white;
            }
            @include media(tablet) {
                font-size: 1.7rem;
                padding: 3rem;
            }
        }
        @include media(tablet) {
            top: 80%;
            left: 41%;
        }
        @include media(desktop) {
            top: 70%;
            left: 45.5%;
        } 
    }
}

.position {
    margin-bottom: 1rem;
    color: $white;
}

.roll {
    font-size: 2rem;
}

.action-btns {
    display: flex;
    justify-content: space-between;
}
