/* rem and em do NOT depend on html font-size in media queries! Instead, 1 rem = 1em = 16px */

/* @media (min-width: TAMAÑO-EN-PÍXELES) {
    Los estilos aquí contenidos solo se aplicarán a partir
    del tamaño de pantalla indicado */
/* } 

/* /* @media (max-width: TAMAÑO-EN-PÍXELES) {
Estos estilos solo se aplicarán hasta el tamaño indicado */

/* @media (min-width: TAMAÑO-EN-PÍXELES) and (max-width: TAMAÑO-EN-PÍXELES) {
Solo se aplicarán entre los tamaños indicados */


/* Below 704x (Smaller-Tablets) */

@media(min-width: 500px) and (max-width: 850px) {

    .nav--link:link,
    .nav--link:visited {
        font-size: 5rem;
    }

    .active-navigation-nav {
        top: 33rem;
        left: 26rem;
    }

    .home--titles {
        top: 40%;
        left: 38%;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    .home--title__position {
        font-size: 2.5rem;
    }

    .home--btns {
        top: 80%;
        left: 39%;
    }

    .btn--download {
        font-size: 1.7rem;
        padding: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .about-me--technologies-container img {
        width: 8rem;
        height: 8rem;
    }

    .projects--container {
        margin: 4rem auto;
        width: 60rem;
        height: auto;
    }

    .project--overview {
        width: 25rem;
        height: 25rem;
        border-radius: 10%;
    }

    .project--overview__analysis {
        width: 25rem;
        height: 25rem;
        border-radius: 10%;
    }

    .project--overview__omnifood {
        width: 25rem;
        height: 25rem;
        border-radius: 10%;
    }

    .project--name {
        padding: 3rem;
        font-size: 3rem;
    }

    .project--technologies {
        padding: 3rem;
    }

    .project--description {
        font-size: 2.2rem;
    }

    .project--redirection {
        padding: 3rem;
    }

    .project--redirection__game {
        padding: 3rem;
    }

    .project--redirection__live {
        padding: 1.5rem;
        font-size: 1.5rem;
    }

    .project--redirection__code {
        padding: 1.5rem;
        font-size: 1.5rem;
    }
}

@media(min-width: 851px) and (max-width: 1600px) {
    .header--mobile-menu {
        display: none;
    }

    .background {
        display: none;
    }

    .nav {
        display: none;
    }

    .nav2 {
        display: flex;
    }

    .active-navigation-nav {
        display: none;
    }

    .nav--list {
        display: flex;
        list-style: none;
    }

    .nav--link:link,
    .nav--link:visited {
        font-size: 2rem;
        background-image: linear-gradient(93deg, transparent 0%, transparent 50%, white 50%);
    }

    .nav--link__contact {
        margin-top: 2rem;
    }

    .home--titles {
        top: 25%;
        left: 40%;
    }

    .home--btns {
        left: 45%;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    .home--title__position {
        font-size: 3rem;
    }

    .about-me--title {
        font-size: 3.5rem;
    }

    .about-me--technologies-container {
        display: flex;
        justify-content: center;
        padding: 3rem;
    }

    .about-me--technologies-container img {
        width: 8rem;
        height: 8rem;
        margin-right: 2rem;
    }

    .projects h3 {
        font-size: 3.5rem;
        margin-top: 12rem;
    }

    h3 {
        margin-top: 8rem;
    }

    .projects--description {
        margin-bottom: 5rem;
    }

    .projects--container {
        width: 50rem;
        height: 80rem;
        margin: 4rem auto;
    }

    .project--name {
        padding: 3rem;
        font-size: 3rem;
    }

    .project--technologies {
        padding: 3rem;
    }

    .project--description {
        font-size: 2.2rem;
    }

    .project--redirection {
        padding: 3rem;
    }

    .project--redirection__game {
        padding: 3rem;
    }

    .project--redirection__live {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .project--redirection__code {
        padding: 1rem;
        font-size: 1.5rem;
    }
}
