* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
}

.portrait-btn {
    display: inline-block;
}

.dark-mode {
    display: inline-block;
    margin-top: 1rem;
    appearance: none;
    border: none;
    background: none;
}

.portrait {
    width: 41rem;
    height: 85rem;
    color: white;
    overflow-x: hidden;
}

.portrait-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30rem;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.portrait-roll {
    font-size: 2rem;
}

.portrait-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25rem;
}