* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    font-family: 'Noto Serif Georgian', serif;
    font-family: 'Red Hat Text', sans-serif;
}

/* MOBILE-MENU */

.header-mobile__menu {
    position: fixed;
    top: 1rem;
    right: 2.4rem;
    width: 7rem;
    height: 7rem;
    background-image: radial-gradient(#191919 20%, #0066ff);
    border-radius: 50%;
    box-shadow: 0 1rem 3rem black;
    cursor: pointer;
}

.header-mobile__menu span:first-child {
    margin-top: 2.3rem;
}

.header-mobile__menu span {
    display: block;
    margin-top: 1rem;
    margin-left: 1.1rem;
    width: 70%;
    height: 2px;
    background-color: #000000;
    transform-origin: 0px 100%;
    transition: all .3s;
}

.activebars-menu-1 {
    transform: rotate(45deg) translate(1px, -8px);
}

.activebars-menu-2 {
    opacity: 0;
    margin-left: -3rem;
}

.activebars-menu-3 {
    transform: rotate(-45deg) translate(2px, 9px);
}

.background {
    position: fixed;
    top: 1rem;
    right: 3rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(#222222, #0066ff);
    transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 100;
}

.header-mobile__menu:checked ~ .background {
    transform: scale(30);
}

.navigation-nav {
    display: none;
}

.active-navigation-nav {
    display: inline-block;
    transition: all .3s;
}

.navigation-link:link,
.navigation-link:visited {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 225%;
    transition: all .2s;
}

.navigation-link:hover,
.navigation-link:active {
    color: #005bc9;
    background-position: 100%;
    transform: translateX(1rem);
}

/* HEADER  */

.header {
    position: absolute;
    width: 100%;
    background-color: #222426;
    border-bottom: #222426;
    z-index: 1;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.2rem 1.6rem;
}

.header-brand {
    font-size: 2rem;
    color: white;
}

/* HOME SECTION */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-titles {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 41%;
    left: 23%;
}

.home-title__position {
    font-size: 2rem;
    color: white;
}

.home-btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 80%;
    left: 15%;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.position {
    margin-bottom: 1rem;
    color: white;
}

.roll {
    font-size: 2rem;
}

.action-btns {
    display: flex;
    justify-content: space-between;
}

.btn-download {
    margin-right: 2rem;
    padding: 1.5rem;
    border-radius: 11px;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: #2B3333;
    cursor: pointer;
    box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
}

.btn-contact-me {
    padding: 1.5rem;
    border-radius: 11px;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: #2B3333;
    cursor: pointer;
    box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
}


/* ABOUT ME */

.about-me {
    padding: 2.9rem 1.6rem 1.6rem;
    background-image: linear-gradient(to bottom, #222426 30%, #0c3859, #0066ff);
}

.about-me__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.avatar {
    transform: scale(1.2);
    transition: all .5s;
}

.avatar:hover {
    transform: scale(.9);
    filter: blur(3px) brightness(80%);
}

.about-me__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    opacity: 0;
    backface-visibility: hidden;
    transition: all .3s;
}

.about-me__container:hover .about-me__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.about-me__title {
    font-size: 2.8rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5rem;
    text-align: center;
}

.about-me__description {
    margin-top: 2rem;
}

.about-me__description p {
    font-size: 2rem;
    color: white;
}

h3 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.about-me__technologies--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-top: 4rem;
}

.react {
    grid-column-start: 2;
}