* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    font-family: 'Noto Serif Georgian', serif;
    font-family: 'Red Hat Text', sans-serif;
}

/* HEADER  */

.header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #222426;
    border-bottom: #222426;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.2rem 1.6rem;
}

.header-brand {
    font-size: 2rem;
    color: white;
}

/* HOME SECTION */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-titles {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 41%;
    left: 23%;
}

.home-title__position {
    font-size: 2rem;
    color: white;
}

.home-btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 80%;
    left: 22%;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.position {
    margin-bottom: 1rem;
    color: white;
}

.roll {
    font-size: 2rem;
}

.action-btns {
    display: flex;
    justify-content: space-between;
}

.btn-download {
    margin-right: 2rem;
    padding: 1.5rem;
    border-radius: 11px;
    border: none;
    color: white;
    background-color: #2B3333;
    cursor: pointer;
    box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
}

.btn-contact-me {
    padding: 1.5rem;
    border-radius: 11px;
    border: none;
    color: white;
    background-color: #2B3333;
    cursor: pointer;
    box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 32px 4px rgba(0,0,0,0.75);
}


/* ABOUT ME */

.about-me {
    padding: 2.9rem 1.6rem 1.6rem;
}