
.navigation{
    position: fixed;
    z-index: 2;
    .header--mobile-menu {
        position: fixed;
        top: 1rem;
        right: 2.4rem;
        width: 7rem;
        height: 7rem;
        background-image: $gradient-blue;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem $dark;
        cursor: pointer;
        z-index: 200;

        span:first-child {
            margin-top: 2.3rem;
        }

        span {
            display: block;
            margin-top: 1rem;
            margin-left: 1.1rem;
            width: 70%;
            height: 2px;
            background-color: $dark;
            transform-origin: 0px 100%;
            transition: all .3s;
        }
        @include media(desktop) {
            display: none;
        }  
    }
    .background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 1.5rem;
        right: 2.4rem;
        background-image: $gradient-blue;
        -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        @include media(desktop) {
            display: none;
        }  
    }

    .nav {
        display: none;
        transition: all .2s;
        @include media(desktop) {
            display: none;
        }  
    }    
}

.nav--link:link,
.nav--link:visited {
    display: inline-block;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-image: $gradient-transparent;
    background-size: 225%;
    transition: all .2s;
    @include media(tablet) {
        font-size: 5rem;
	}
    @include media(desktop) {
        font-size: 2rem;
        background-image: $gradient-transparent;
    }
}

.nav--link:hover,
.nav--link:active {
    color: $blue;
    background-position: 100%;
    transform: translateX(1rem);
}

.nav--list {
    list-style: none;
    @include media(desktop) {
        display: flex;
        list-style: none;
    }  
}

.activebars-menu-1 {
    transform: rotate(45deg) translate(1px, -8px);
}

.activebars-menu-2 {
    opacity: 0;
    margin-left: -3rem;
}

.activebars-menu-3 {
    transform: rotate(-45deg) translate(2px, 9px);
}

.scale {
    transition: all .5s;
    transform: scale(50);
}

.nav2 {
    display: none;
    @include media(desktop) {
        display: flex;
    }  
}

.active-navigation-nav {
    display: inline-block;
    position: fixed;
    top: 21rem;
    left: 9rem;
    text-align: center;
    transition: all .2s;
    @include media(tablet) {
        top: 33rem;
        left: 26rem;
	}
    @include media(desktop) {
        display: none;
    }  
}