
.navigation{
    position: fixed;
    z-index: 2;
    .header--mobile-menu {
        position: fixed;
        top: 8rem;
        right: 1.4rem;
        width: 7rem;
        height: 7rem;
        background-image: $gradient-blue;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem $dark;
        cursor: pointer;
        z-index: 200;

        span:first-child {
            margin-top: 2.3rem;
        }

        span {
            display: block;
            margin-top: 1rem;
            margin-left: 1.1rem;
            width: 70%;
            height: 2px;
            background-color: $dark;
            transform-origin: 0px 100%;
            transition: all .3s;
        }
        @include media(desktop-s) {
            display: none;
        }
        @include media(desktop) {
            display: none;
        } 
    }
    .background {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 8.5rem;
        right: 1.4rem;
        background-image: $gradient-blue;
        // -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        // transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        // transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all .8s;
        @include media(desktop-s) {
            display: none;
        }
        @include media(desktop) {
            display: none;
        }  
    }

    .nav {
        display: none;
        @include media(desktop-s) {
            display: none;
        }
        @include media(desktop) {
            display: none;
        } 
    }    
}

.nav--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    @include media(desktop-s) {
        display: flex;
        flex-direction: row;
        list-style: none;
    }  
    @include media(desktop) {
        display: flex;
        flex-direction: row;
        list-style: none;
    } 
}

.nav--item {
    display: flex;
    justify-content: center;
    .emoji {
        width: 14rem;
        height: 8rem;
        @include media(tablet) {
           width: 82rem;
        }
    }
}

.nav--link:link,
.nav--link:visited {
    display: inline-block;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-image: $gradient-transparent;
    background-size: 225%;
    transition: all .4s;
    @include media(tablet) {
        font-size: 5rem;
	}
    @include media(desktop-s) {
        color: #8ca7ff;
        font-size: 2rem;
        background-image: $gradient-transparent;
    }
    @include media(desktop) {
        color: #8ca7ff;
        font-size: 2rem;
        background-image: $gradient-transparent;
    }
}

.nav--link:hover,
.nav--link:active {
    color: $blue;
    background-position: 100%;
    transform: translateX(1rem);
}

.activebars-menu-1 {
    transform: rotate(45deg) translate(1px, -8px);
}

.activebars-menu-2 {
    opacity: 0;
    margin-left: -3rem;
}

.activebars-menu-3 {
    transform: rotate(-45deg) translate(2px, 9px);
}

.scale {
    transform: scale(50);
    @include media(tablet) {
        transition: all .4s;
        transform: scale(90);
    } 
}

.nav2 {
    display: none;
    @include media(desktop-s) {
        display: flex;
    }  
    @include media(desktop) {
        display: flex;
    } 
}

.active-navigation-nav {
    position: fixed;
    top: 20rem;
    left: 8rem;
    right: calc(8rem);
    text-align: center;
    transition: all .2s;
    @include media(tablet) {
        top: 21rem;
        right: 7rem;
        left: calc(11rem);
	}
    @include media(desktop-s) {
        display: none;
    }  
    @include media(desktop) {
        display: none;
    } 
}
