
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Noto Serif Georgian', serif;
    font-family: 'Red Hat Text', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden; 
}